<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Gardiner.Podcasts' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>1863205a-51ee-4dcb-a516-a089c2cc0813</InstrumentationKey>
</ApplicationInsights>